<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <title>IT-Lab3</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    [[SCRIPTS]]
</head>
<body onload="functions(); clock(); setInterval(clock,1000); hook(); addScript();">
<div id="container">
    <div id="header">
        [[HEADER]]
        <label class="hamburger-menu">
            <input type="checkbox" id="toggle-menu"/>
        </label>
        <aside class="sidebar">
            <nav>
                <li><a href="index.html">Main page</a></li>
                <li><a href="quadratic.html">ax<sup>2</sup>+bx+c=0</a></li>
                <li><a href="link3.html">Link3</a></li>
            </nav>
        </aside>
    </div>
    <div id="middle">
        <div id="menu">
            [[MENU]]
            <div id="login-logout">

            </div>
        </div>
        <div id="content">
            [[CONTENT]]
        </div>
    </div>
    <div id="footer">
        [[FOOTER]]
    </div>
</div>
</body>
</html>
